Repository figorr/alexapy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, docs

lint:
  stage: test
  script:
  - make lint

docs:
  stage: build
  script:
  - make docs

Update to 1.29.7
  .gitlab-ci.yml
  github.py
  pyproject.toml
  setup.py
Due: lint

Update to version 1.30.0
  .gitlab-ci.yml
  github.py
  pyproject.toml
  setup.py
Due: lint

Update to 1.30.1 to add script at __init__.py for installing AlexaPy from Github Release
  github.py
  pyproject.toml
  setup.py
Due: lint

Update to 1.30.1. Includes script at __init__.py for installing AlexaPy from GitHub release
  setup.py
Due: none

Update description
  setup.py
Due: none

Update 1.30.2
  .gitlab-ci.yml
  github-release.py
  github-sync.py
  pyproject.toml
  setup.py
Due: lint

Fix github-sync.py to sync GitHub master branch
  github-sync.py
Due: none

Update to AlexaPy 1.30.3
  .gitlab-ci.yml
  github-release.py
  pyproject.toml
  setup.py
Due: lint

fix: import ssl.create_default_context
  alexapy/alexahttp2.py
Due: lint, docs

set initial auth_retry to false, it has to be set true by correct login at finalize_login
  alexapy/alexaapi.py
  alexapy/alexalogin.py
Due: lint, docs

Bump AlexaPy to v1.30.4
  github-release.py
  poetry.lock
  pyproject.toml
  setup.py
Due: lint

Bump AlexaPy to 1.30.5
  github-release.py
  pyproject.toml
  setup.py
Due: lint

removed auth_retry flag, flow toward _process_response which finally flags...
  alexapy/alexaapi.py
  alexapy/alexalogin.py
Due: lint, docs

Bump AlexaPy to 1.30.6
  github-release.py
  pyproject.toml
  setup.py
Due: lint

test_loggedin now includes finalize_login call so no need to call the two in tandem
  alexapy/alexalogin.py
Due: lint, docs

Bump AlexaPy to 1.30.7
  github-release.py
  pyproject.toml
  setup.py
Due: lint

Update AlexaPy to 1.30.8
  alexapy/alexaapi.py
  alexapy/alexalogin.py
  github-release.py
  poetry.lock
  pyproject.toml
  setup.py
Due: lint, docs

Path conditions:
  lint: any of: alexapy/*, pylintrc, setup.cfg, pyproject.toml
  docs: any of: alexapy/*, docs/*
